@import url('https://fonts.googleapis.com/css?family=Oswald');


* {
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    text-align: center;  
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3 {
    margin-bottom: 0;
    text-align: center;
}

small {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-hear {
    color:red;
}